<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coffee Break Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/common/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/ctps/css/style.css" rel='stylesheet' type='text/css' />
<script src="/common/js/jquery.min.js"></script>
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="/ctps/js/move-top.js"></script>
<script type="text/javascript" src="/ctps/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
	<!--script-->
	<script src="/ctps/js/modernizr.custom.97074.js"></script>
<script src="/ctps/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/ctps/css/chocolat.css" type="text/css" media="screen" charset="utf-8"/>
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
		<script type="text/javascript" src="/ctps/js/jquery.hoverdir.js"></script>
</head>
<body>
	<!--header-top-starts-->
<!-- 	<div class="header-top"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="head-main"> -->
<!-- 				<a href="index.html"><img src="http://img.nickboyer.cn/ctps/images/logo-1.png" alt="" /></a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index2">主页</a></li>
<!-- 						<li><a href="about.html">About</a></li> -->
						<li><a href="gallery" class="active">画廊</a></li>
						<li><a href="typo.html">博客</a></li>
						<li><a href="contact.html">帮助</a></li>
					</ul>
			</div>
			<div class="header-right">
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"/>
					<input type="submit" value=""/>
				</div>
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twit"> </span></a></li>
					<li><a href="#"><span class="pin"> </span></a></li>
					<li><a href="#"><span class="rss"> </span></a></li>
					<li><a href="#"><span class="drbl"> </span></a></li>
				</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!-- script-for-menu -->
	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<div class="banner-text">
					<h2>Aliquam erat</h2>
					<h1>Suspendisse potenti</h1>
					<div class="banner-btn">
						<a href="single.html">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--banner-end-->
	<!--gallery-starts-->
	<div class="gallery">
		<div class="container">
			<div class="gallery-top heading">
				<h3>OUR GALLERY</h3>
			</div>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-1.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-2.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-3.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-4.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>	
						<a href="http://img.nickboyer.cn/ctps/images/g-5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-5.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-6.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-7.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-8.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<li>
						<a href="http://img.nickboyer.cn/ctps/images/g-9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="http://img.nickboyer.cn/ctps/images/g-9.jpg" alt="" />
							<div>
								<h5>Coffee</h5>
								<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
							</div>
						</a>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</section>
				
		<script type="text/javascript">
			$(function() {
			
				$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

			});
		</script>
        </div>
	</div>
	<!--gallery-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
<!-- 				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p> -->
				<p>Copyright &copy; 2015.Company name All rights </p>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>
</html>