<div class="fly-header layui-bg-own" id="common-header">
  <div class="layui-container">
    <a class="fly-logo" href="/index">
      <img src="/res/images/logo.png" alt="layui"/>
    </a>
    <ul class="layui-nav fly-nav-user" th:switch="${user} != null">
      
      <!-- 未登入的状态 -->
      <div th:case="false">
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/user/tologin"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/tologin">登录</a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/toregister">注册</a>
      </li>
      </div>
      <!-- 登入后的状态 -->
      <li class="layui-nav-item" th:case="true">
        <a class="fly-nav-avatar layui-hide-xs" href="javascript:;">
          <cite th:text="${user.name}"></cite>
          <img th:src="@{${user.userImg}}" th:alt="${user.username}"/>
        </a>
        <a class="fly-nav-avatar layui-hide-sm layui-hide-md layui-hide-lg" href="/sut/toset">
          <img th:src="@{${user.userImg}}" th:alt="${user.username}"/>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/sut/toset"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="/sut/tomessage"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="/sut/tohome"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;"/>
          <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
