<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title th:text="${info.header}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="stylesheet" href="/res/layui/css/layui.css"/>
  <link rel="stylesheet" href="/res/css/global.css"/>
  <link rel="stylesheet" href="/res/css/editormd.min.css"/>
</head>
<body>
<div class="headband"></div>
<div class="fly-panel layui-hide-lg layui-hide-md" style="background-color: rgb(38, 42, 48);margin-bottom: 0px;height: 100px;"></div>
<!-- 导入公共头 -->
<!-- <div th:replace="header :: #common-header"></div> -->
<!-- <div class="layui-hide-xs"> -->
<!--   <div class="fly-panel fly-column"> -->
<!--     <div class="layui-container"> -->
<!--       <ul class="layui-clear"> -->
<!--         <li class="layui-hide-xs"><a href="/index">首页</a></li>  -->
<!--       <li><a href="/blog/it">IT互联网</a></li>  -->
<!--       <li><a href="jie/index.html">生活故事</a></li>  -->
<!--       <li><a href="/user/totimeline">时间线</a></li>  -->
<!--         <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>  -->
<!--       </ul>  -->
<!--       <div class="fly-column-right layui-hide-xs">  -->
<!--         <span class="fly-search"><i class="layui-icon"></i></span>  -->
<!--         <a href="/blog/toadd" class="layui-btn">发表新帖</a>  -->
<!--       </div>  -->
<!--       <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">  -->
<!--         <a href="/blog/toadd" class="layui-btn">发表新帖</a>  -->
<!--       </div>  -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<div class="layui-container">
  <div class=""></div>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md9 content detail">
		<div class="fly-panel detail-box photos markdown-body editormd-preview-container"
			previewcontainer="true">
			<h2 th:text="${info.header}"></h2>
			<div class="fly-detail-info">
				<span class="layui-badge layui-bg-red" th:if="${info.up} == 0 ">精帖</span> 
				<span class="layui-badge layui-bg-green" th:if="${#dates.format(info.createTime,'MM')} == ${#dates.format(#dates.createNow(),'MM')}">新帖</span>
				<span class="layui-badge layui-bg-blue" th:if="${info.comment} >= 10">人气帖</span> 
				<div class="fly-admin-box" data-id="123">
					<span
						th:text="${#dates.format(info.createTime,'yyyy年MM月dd日 HH:mm:ss')}"></span>
				</div>
				<span class="fly-list-nums"> <i class="iconfont" title="回答">&#xe60c;</i>
					<a href="#comment"><span th:text="${info.comment}"></span></a> <i
					class="iconfont" title="人气">&#xe60b;</i> <span
					th:text="${info.watch}"></span>
				</span>
			</div>
			<div class="detail-about" id="blogBody"></div>
		</div>

		<!-- 回帖部分 -->
      <div class="fly-panel detail-box markdown-body editormd-html-preview" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda jieda_ul" id="jieda">
        </ul>
        
        <div class="layui-form layui-form-pane">
          <form action="/uct/reply" method="post">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="L_content" name="content" required="" lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" name="relid" th:value="${info.id}"/>
              <button class="layui-btn" lay-filter="*" lay-submit="">提交回复</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md3 layui-hide-sm layui-hide-xs">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd th:each="info,stat:${list}">
          <a th:href="@{'/blog/detail?id='+${info.id}}" th:text="${info.header}"></a>
          <span><i class="iconfont icon-pinglun1"></i></span> <span th:text="${info.comment}"></span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>
      <div class="fly-panel">
        <div class="fly-panel-title">
        	快速跳转
        </div>
        <div class="fly-panel-main">
          <a href="https://www.baidu.com" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">百度</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="/res/images/weixin.jpg" style="max-width: 60%;" alt="layui"/>
        <p style="position: relative; color: #666;">骑驴十三载，不知火烧是何味</p>
      </div>

    </div>
  </div>
</div>

<!-- 导入公共footer -->
<div th:replace="footer :: #common-footer"></div>
<script src="/res/layui/layui.js"></script>
<script src="/res/js/jquery.min.js"></script>
<script src="/res/lib/marked.min.js"></script>
<script src="/res/lib/prettify.min.js"></script>
<script src="/res/lib/raphael.min.js"></script>
<script src="/res/lib/underscore.min.js"></script>
<script src="/res/lib/sequence-diagram.min.js"></script>
<script src="/res/lib/flowchart.min.js"></script>
<script src="/res/lib/jquery.flowchart.min.js"></script>
<script src="/res/js/editormd.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly', function(){
  var fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  /*
  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });
  */
});

</script>
<!--js开始-->
<script th:inline="javascript">
//以下注释忽略js中关键字符
/*<![CDATA[*/
    //markDown转HTMl的方法
    $(function(){
    	var content = [[${info.contentStr}]];
   		mdToHtml("blogBody","append",content);
   		mdToHtmlComments();
    });

function mdToHtml(id1,id2,content){
    //先对容器初始化，在需要展示的容器中创建textarea隐藏标签，
    $("#"+id1).html('<textarea id="'+id2+'" style="display:none;"></textarea>');
    $("#"+id2).val(content);//将需要转换的内容加到转换后展示容器的textarea隐藏标签中
    //转换开始,第一个参数是上面的div的id
    var returnText = editormd.markdownToHTML(id1, {
        htmlDecode: "style,script,iframe", //可以过滤标签解码
        emoji: true,
        taskList:true,
        tex: true,               // 默认不解析
        flowChart:true,         // 默认不解析
        sequenceDiagram:true,  // 默认不解析
    });
}

function mdToHtmlComments(){
	var comments = [[${comments}]];
	var userid = [[${info.userid}]];
	$.each(comments,function(index,value){
		var html = '<li data-id="111" class="jieda-daan">'+
            			'<div class="detail-about detail-about-reply">'+
              				'<a class="fly-avatar" href=""><img src="'+value.userImg+'" alt=""/></a>'+
            				'<div class="fly-detail-user">'+
                				'<a href="" class="fly-link"><cite>'+value.username+'</cite></a>';
        if(userid == value.userid){
        	html = html + '<span>(楼主)</span>';
        }
        html = html + 		'</div>'+
              				'<div class="detail-hits"><span>'+(index + 1)+'</span>楼&nbsp;·&nbsp;<span>'+value.createTimeStr+'</span></div>'+
            			'</div>'+
            			'<div class="detail-body jieda-body photos" id="comment_'+index+'"><textarea id="append_'+index+'" style="display:none;"></textarea></div>'+
           				'<div class="jieda-reply">';
        if(value.agree != 0){
        	html = html +	'<span class="jieda-zan zanok" type="zan"><i class="iconfont icon-zan"></i><em>'+value.agree+'</em></span>';
        }else {
            html = html +	'<span class="jieda-zan" type="zan"><i class="iconfont icon-zan"></i><em>'+value.agree+'</em></span>';
        }
        html = html +		'<span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>'+
              				'<div class="jieda-admin"><span type="del">删除</span></div>'+
            			'</div>'+
         			'</li>';
       $("#jieda").prepend(html);
       mdToHtml("comment_"+index,"append_"+index,value.contentStr);
       
	});
}

/*]]>*/
</script>
<!--js结束-->
</body>
</html>